span.COVID_Icon_Wrapper_Header {
    display: inline-block;
    padding-left: 8px;
}
span.COVID_Icon_Wrapper_Toolbar_Enabled {
    display: inline-block;
    background-color: #0b2e13;
    padding: 2px;
    border-radius: 8px;
}
span.COVID_Icon_Wrapper_Toolbar_Disabled {
    display: inline-block;
    background-color: #c0c0c0;
    padding: 2px;
    border-radius: 8px;
}
@media only screen and (max-width: 600px) {
    .VictoryContainer {
        user-select: auto !important;
        pointer-events: auto !important;
        touch-action: auto !important;
    }
}
div.menuDashboardItemTop {
    font-size: 14px;
}
div.menuDashboardItemBottom {
    text-transform: uppercase;
    font-size: 10px;
    border-top: 1px solid #404040;
}
#DashboardDropDownMenu > .dropdown-menu {
    margin: 0px;
    padding: 0px;
}


button.dropdown-toggle:focus {outline-color: red;}
